@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

$accent: #C8102E;
$secondary: #333333;
$gold-500: #D4AF37;
$card-hover-shadow: rgba(67, 67, 255, 0.344) 0px 7px 29px 0px;

@import "./templates/general.scss";
@import "./templates/header.scss";
@import "./templates/sections/goals.scss";
@import "./templates/sections/reasons.scss";