.testimonials {
  .col-lg-4 {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 800px;
    border: none;
    background-color: inherit;

    &:hover .face.front-face {
      transform: rotateY(180deg);
    }

    &:hover .face.back-face {
      transform: rotateY(360deg);
    }

    .face {
      position: absolute;
      color: $white-400;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: $card-red-shadow;
      border-radius: 15px;
      background: $card-dark-transparent;
      transform-style: preserve-3d;
      transition: 0.8s;
      backface-visibility: hidden;
      border: $white-500-solid;

      &.front-face {
        @include flex-column();
        align-items: center;
        justify-content: center;

        .profile {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center top;
        }

        .name {
          letter-spacing: 2px;
        }

        .designation {
          font-size: 0.8rem;
          color: $white-500;
          letter-spacing: 0.8px;
        }
      }

      &.back-face {
        position: absolute;
        transform: rotateY(180deg);
        padding: 20px 30px;
        text-align: center;
        // user-select: none;
        @include flex-column();
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        .bi-quote-left {
          display: block;
          align-self: flex-start;
          font-size: 1.2rem;
        }

        .bi-quote-right {
          display: block;
          align-self: flex-end;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 991.5px) {
  .col-lg-4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
