@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  // overflow-x: hidden;
  min-height: 100vh;
  @include flex-column();
}

.text-content {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.buttons-group {
  @include flex-row();
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.btn {
  &-reset {
    background-color: $secondary;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
    padding: 14px 40px;
    border: 0;
    border-radius: 4px;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.cta {
  &-btn {
    background-color: $accent !important;
  }
}

.form {
  &-control {
    border-color: $secondary !important;
    transition: all 0.7s ease;

    &::-ms-input-placeholder {
      color: $white-600 !important;
    }

    &:focus {
      border-color: $accent-transparent !important;
    }
  }
  &-select {
    padding: 10px 15px;
    background-color: var(--surface-color) !important;
    box-shadow: none;
    border-color: $secondary !important;
    border-radius: 0;
    transition: all 0.7s ease;

    &:focus {
      border-color: $accent-transparent !important;
    }
  }
}

.zoom {
  &-image-container {
    position: relative;
    display: inline-block;
    max-width: 80%;
    margin: 0 auto;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &-box {
    position: absolute;
    z-index: 1000;
    border: "2px solid #000";
    border-radius: 4px;
    box-shadow: $dark-shadow;
    pointer-events: none;
    overflow: "hidden";
  }
}

@media screen and (max-width: 600px) {
  .zoom {
    &-image-container {
      max-width: 100%;
    }
  }
}

.section-decor-upper {
  @include section-decor();
}

.modal {
  &-image {
    display: block;
    width: 108px;
    height: auto;
  }
}
